.socialIcon {
    padding-right: 10px;
    padding-top: 8px;
    font-size: 28px !important; 
    text-shadow: '0 1px 0 rgba(0, 0, 0, 0.1)';
    color: #fff;
}

.socialIconWrapper {
    display: inline-block;
    list-style-type: none;
    margin: 15px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 8px;

    box-shadow: 0 0 0 1px #F8F5F5;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.socialIconWrapper:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #000000 !important;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.socialIconWrapper:hover {
    box-shadow: 0 0 0 2px #fff;
    color: #826767;
    text-shadow: 0px 0px 7px rgba(255,255,255,0.7);
}
.socialIconWrapper:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}