.socialHeader b {
    font-size: 30px !important;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.7);
    color: #fff;
    font-weight: 500;
}

.socialIcons {
    padding: 0;
}

.socialIconGrids {
    padding-top: 25px !important;
}

@media only screen and (max-width: 580px) {
    .socialInformationRow{
        margin-top: 35px;
    }
}


@media only screen and (min-width: 580px) {
    .socialInformationRow{
        margin-top: 35px;
    }
}
